<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <link href="{{ url_for('static',filename='css/show.css') }}" rel="stylesheet"/>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="container">
    <div id="header" align="center">
         <p><h2><img width="162px" height="38.5px" src="static/picture/logo.png" alt=""><span> | 学生选课系统</span></h2></p>
    </div>
    <div id="sidebar1" align="center">
        <p align="center">
            <h3>功能选择</h3><p><p>
            <a href="/per">个人信息</a><p>
            <a href="/">学生选课</a><p>
            <a href="/rar">已选课程</a><p>
            <a href="/fen">成绩查询</a><p>
        </p>
    </div>
    <div id="content" class="content">
        <h3>个人信息查看：</h3>
        <form id="form1" name="form1" method="post" action="/per" style="margin-left:50px">
            <label>学号：{{data[0]}}
                <input type="hidden" name="stu_id" value='{{data[0]}}'/>
            </label>
            <p>
            <label>姓名：{{data[1]}}
               <input type="hidden" name="stu_name" value='{{data[1]}}'/>
            </label>
            <p>
            <label>性别：{{data[3]}}
               <input type="hidden" name="stu_sex" value='{{data[3]}}'/>
            </label>
            <p>
            <label>专业：{{data[2]}}
               <input type="hidden" name="pro_id" value='{{data[2]}}'/>
            </label>
            <p>
            <label>出生日期：{{data[4]}}
               <input type="hidden" name="stu_birth" value='{{data[4]}}'/>
            </label>
            <p>
            <label>所属班级：{{data[5]}}
               <input type="hidden" name="class_id" value='{{data[5]}}'/>
            </label>
            <p>
            <label>登录密码：
                <input type="text" name="stu_pwd" value='{{data[6]}}'/>
            </label>
            <p>
            <label>
                <input type="submit" name="button" value="修改"/>
            </label>
            <label>
                <input type="reset" name="button2" value="重置"/>
            </label>
            <br>
        </form>
    </div>
</div>

</body>
</html>