<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程信息</title>
    <link href="{{ url_for('static',filename='css/show.css') }}" rel="stylesheet"/>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="container">
    <div id="header" align="center">
         <p><h2><img width="162px" height="38.5px" src="static/picture/logo.png" alt=""><span> | 教务管理系统</span></h2></p>
    </div>
    <div id="sidebar1" align="center">
        <p align="center">
            <h3>功能选择</h3><p><p>
            <a href="/per">密码修改</a><p>
            <a href="/">学生信息维护</a><p>
            <a href="/mama">课程信息维护</a><p>
        </p>
    </div>
    <div id="content" class="content"><p>
	<h3>课程信息</h3><p>
        <form>
            课程编号：<input type="text" name="cid">
            课程名：<input type="text" name="cname">
            <label>类型编号：
            <select name="kind_id">
                <option value="" ></option>
                    {% for pro in dataid%}
                    <option value='{{pro[0]}}'>{{pro[0]}}</option>
                    {% endfor %}
            </select>
            </label>
            <label>任课教师编号：
                <select name="teacher_id">
                    <option value="" ></option>
                    {% for pro in datada -%}
                    <option value='{{pro[0]}}'>{{pro[0]}}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="查询">
        </form>

        <br>

        <table class="table table-hover">
            <tr>
                {% for a in fields %}
                <th>{{a}}</th>
                {% endfor %}
                <th>修改</th>
                <th>删除</th>
            </tr>
            {%for item in datas%}
            <tr>
                {%for a in item%}
                <td>{{a}}</td>
                {% endfor %}
                <td><a class="btn btn-primary btn-sm" href="update-t?id={{item[0]}}">修改</a></td>
                <td><a class="btn btn-primary btn-sm" href="del-t/{{item[0]}}">删除</a></td>
            </tr>
            {% endfor %}
            <tr>
                 <td><a class="btn btn-primary btn-sm" href="/add-t">添加课程信息</a></td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>